<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-6 offset-xl-6 text-center my-5">
        <h1 class="display-3 mb-5">Data gathering tool</h1>
        <div class="row mb-3 justify-content-center">
          <div class="col-12 col-sm-6 col-md-3 text-center">
            <canvas #mount class="border border-2 border-dark bg-white mb-4"></canvas>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <div class="text-center">
              <img class="img img-fluid icon" [src]="activeSign.img">
              <h4 class="mb-0 mt-2">{{activeSign.label}}</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-success btn-lg mr-4" (click)="saveSign()">SAVE SIGN</button>
            <button class="btn btn-danger btn-lg" (click)="refresh()">ABANDON SIGN</button>
          </div>
        </div>
        <div class="row mt-5 text-center" *ngIf="savingErrorOccur">
          <div class="col-12">
            <h4 class="text-danger">Upsss... Something went wrong.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<ngx-loading [show]="loading"></ngx-loading>