<div class="container text-center mt-5">
  <h3 class="mb-4">Real time sign recognition</h3>
  <div class="row mb-2">
    <div class="col-6 text-right">
      <canvas #mount class="border border-2 border-dark bg-white mb-4"></canvas>
    </div>
    <div class="col-6 text-left" *ngIf="predictedSign.label && predictedSign.img">
      <img class="img img-fluid mb-2" [src]="predictedSign.img">
      <h4>{{predictedSign.label}}</h4>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 text-center">
      <button class="btn btn-outline-dark mx-2" (click)="refresh()">CLEAR</button>
    </div>
  </div>
  <div class="row mb-2" *ngIf="predictErrorOccur">
    <div class="col-12">
      <h4 class="text-danger text-center">Upsss... Something went wrong.</h4>
    </div>
  </div>
  <div class="row mb-4" *ngIf="predictedSign.probabilityArray">
    <div class="col-6 mx-auto text-center">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of predictedSign.probabilityArray">
          <span>{{item.sign}} : {{item.probability}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
