<main>
  <div class="container-fluid">
    <div class="row align-items-center flex-column-reverse flex-xl-row">
      <div class="col-xl-6">
        <div class="row" *ngIf="predictedSign.probabilityArray">
          <div class="col-12 col-lg-10 mx-auto text-center my-5">
            <div class="bg-white my-shadow p-5">
              <div class="row predict-results">
                <div class="col-12 col-md-6 mb-3" *ngFor="let item of predictedSign.probabilityArray | orderBy: order:true; first as bestPredict">
                  <h4 [ngClass]="{'text-success': bestPredict}">{{item.sign}}</h4>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': item.probability*100 + '%'}" attr.aria-valuenow="{{item.probability*100}}" aria-valuemin="0" aria-valuemax="100">{{item.probability*100}}%</div> <!-- tu dwa miejsca po przecinku -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6 text-center my-5" [ngClass]="{'offset-xl-6':!predictedSign.probabilityArray}">
        <h1 class="display-3 mb-5">Real time sign recognition</h1>
        <div class="row mb-3 justify-content-center">
          <div class="col-3 text-right">
            <canvas #mount class="border border-2 border-dark bg-white mb-4"></canvas>
          </div>
          <div class="col-3">
            <div class="text-center" *ngIf="predictedSign.label && predictedSign.img">
              <img class="img img-fluid" [src]="predictedSign.img">
              <h4 class="mb-0 mt-2">{{predictedSign.label}}</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-danger btn-lg" (click)="refresh()">CLEAR CANVAS</button>
          </div>
        </div>
        <div class="row mt-5 text-center" *ngIf="savingErrorOccur">
          <div class="col-12">
            <h4 class="text-danger">Upsss... Something went wrong.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>