$body-bg: #f8f8f8;
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";

html {
  touch-action: pan-down; // Disabling android's chrome pull-down-to-refresh feature
}

body {
  overflow-y: scroll;
  overscroll-behavior: contain; // Disabling android's chrome pull-down-to-refresh feature

  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  
  &.signs {
      background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('assets/background.jpg');
  }
}

.nav-item {
  cursor: pointer;
}

main {
  min-height: calc(100vh - 200px);
}

.my-shadow {
  box-shadow: 0 0 30px rgba(0,0,0,.15);
}

.sign-container {
  height: 130px;
}

@media (max-width: 1199.98px) {
  body {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('assets/background.jpg');
  }

  .canvas-container {
    height: 130px;
    position: relative;
  }
}

@media (min-width: 1200px) {
  .my-shadow {
    box-shadow: 0 0 60px 30px rgba(0,0,0,.75);
  }

  main {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767.98px) {
  .display-3  {
    font-size: 40px;
  }
}

@media (max-width: 575.98px) {
  .display-3  {
    font-size: 30px;
  }
}
